{% extends "::base.html.twig" %}

{% block stylesheets %}
    <style>
        h1{
            text-align: center;
        }
        .link-track-item{
            text-decoration: none;
            color: #000000;
        }
        .track-item-container{
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            border:1px solid #000000;
        }
        .track-item-container .field{
            width:6vw;
            border-right: 1px solid #000000;
            text-decoration: none;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .track-item-container .field p{
            font-size: 2vw;
        }
        .track-item-container .field:last-child{
            border-right:0;
        }
        .track-item-container .field-track{
            width:70vw;
            text-align: left;
            padding-left: 2vw;
            justify-content: flex-start;
        }
        .track-item-container .field-date{
            width:11vw;
        }
        .track-item-container .field-difficult{
            width:11vw;

        }
        .check-form{
            display:flex;
            align-items:center;
            justify-content: space-around;
        }
        .check-form .submit{
            /*display: none;*/
        }
    </style>
{% endblock %}

{% block body %}
<div class="page_title" id="page_title">
    <h1> Мои походы </h1>
</div>
    <form class="check-form" action="">
        <p class="is_fin"><input name="is_fin" type="radio" value="true"> Прошедшие</p>
        <p class="is_fin"><input name="is_fin" type="radio" value="false" checked> Запланированные</p>
        <p class="submit"><input type="submit" value="Выбрать"></p>
    </form>
    <div class="track-item-container">

        <div class="field field-date">
            <p>Дата</p>
        </div>


        <div class="field field-days">
            <p>Дней</p>
        </div>


        <div class="field field-difficult">
            <p>Сложность</p>
        </div>


        <div class="field field-track">
            <p>Нитка маршрута</p>
        </div>
    </div>
    {% for track in tracks %}
    <article>
        <div class="container track-container">

                <div class="track-item-container">

                        <div class="field field-date">
                            <p>{{ track.date|date("d-m-Y") }}</p>
                        </div>


                        <div class="field field-days">
                            <p>{{ track.days }}</p>
                        </div>


                        <div class="field field-difficult">
                            <p>{{ track.difficult }}</p>
                        </div>

                    {#<a class="link-track-item" href="{{ path('single_track', {'track_id' : track.track_id}) }}">#}
                        <div class="field field-track">
                            <p>{{ track.track }}</p>
                        </div>

                    {#</a>#}


                    {#<div class="field field-status">#}
                        {#<p>{{ track.status }}</p>#}
                    {#</div>#}

                </div>


        </div>

        {#<nav role="navigation">#}
            {#<ul>#}
                {#<li class="read-more">#}
                    {#<a href="{{ path('track_view', {'id' : track.id}) }}">Читать статью</a>#}
                {#</li>#}
            {#</ul>#}
        {#</nav>#}
    </article>
    {% endfor %}
    {{ dump(tracks) }}
{% endblock %}

