{% extends "::base.html.twig" %}

{% block body %}
<div class="page_title" id="page_title">
    <h1> Мои походы </h1>
</div>
    <form class="check-form" id="check-track-status-form" action="">
        <p class="is_fin"><input id="check-track-radio1" name="is_fin" type="radio" value="true" {{ is_fin.fin }}> Прошедшие</p>
        <p class="is_fin"><input id="check-track-radio2" name="is_fin" type="radio" value="false" {{ is_fin.plan }}> Запланированные</p>
    </form>
    <div class="track-item-container">

        <div class="field field-date">
            <p>Дата</p>
        </div>


        <div class="field field-days">
            <p>Дней</p>
        </div>


        <div class="field field-difficult">
            <p>Сложность</p>
        </div>


        <div class="field field-track">
            <p>Нитка маршрута</p>
        </div>
        <div class="field field-members">
            <p>Участники</p>
        </div>
    </div>
    {% for track in tracks %}
    <article>
        <div class="container track-container">

                <div class="track-item-container">

                        <div class="field field-date">
                            <p>{{ track.date|date("d-m-Y") }}</p>
                        </div>


                        <div class="field field-days">
                            <p>{{ track.days }}</p>
                        </div>


                        <div class="field field-difficult">
                            <p>{{ track.difficult }}</p>
                        </div>


                        <div class="field field-track">
                            <a class="link-track-item" href="{{ path('single_track', {'track_id' : track.track_id}) }}">{{ track.track }}</a>
                        </div>
                        <div class="field field-members">
                            {% set current_track_id = track.track_id %}
                            {% for member in members[current_track_id] %}
                                <a href="{{ path('single_member', {'member_id' : member.0.member_id}) }}">{{ member.0.name  }}</a>
                            {% endfor %}
                        </div>


                </div>


        </div>


    </article>

    {% endfor %}
    <a href="{{ path('add_track') }}" class="add-track-btn">Добавить новый маршрут</a>
    {#{{ dump(members) }}#}
    <script type="application/javascript">
        document.getElementById('check-track-radio1').onclick = function(){
            document.getElementById('check-track-status-form').submit();
        };
        document.getElementById('check-track-radio2').onclick = function(){
            document.getElementById('check-track-status-form').submit();
        };

    </script>
{% endblock %}

