{% extends "::base.html.twig" %}

{% block stylesheets %}
    <style>
        h1{
            text-align: center;
        }
        .track-container p{
            font-size: 2vw;
            padding:1vw;
            font-weight: 800;
            font-family: Arial sans-serif;
        }

    </style>
{% endblock %}

{% block body %}
<div class="page_title" id="page_title">
    <h1> Страница маршрута </h1>
</div>
<article>
    <div class="container track-container">
        <p>Дата старта маршрута {{ track.date|date("d-m-Y") }}</p>
        <p>Нитка маршрута:</p>
        <p>{{ track.track }}</p>
        <p>Сложность маршрута(субъективно): {{ track.difficult }} </p>
        <p>Дней в пути: {{ track.days }}</p>
        <p>Участники:
            {% for member in members %}
                <a href="{{ path('single_member', {'member_id' : member.0.member_id}) }}">{{ member.0.name }}</a>
            {% endfor %}
        </p>
    </div>
</article>
{{  render(controller("HikingBundle:AdminHiking:addMembersToTrack")) }}
{#{{ dump(members) }}#}
{% endblock %}

